@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
    color: white !important; 
    background-color: #131723 !important;
}
p {
    color: #7E8792;
}
nav {
    display: flex;
    width: 100%;
    background-color: #1D2430;
    border-bottom: 1px solid #131723;
    position: fixed;
    z-index: 1; 
}
nav a {
    padding: 0 10px; 
    margin: 20px 5px; 
    color: #7E8792;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
nav a:first-child {
    padding: 0px 15px; 
    margin: 20px 0; 
    font-weight: 500; 
    color: white;
    border-right: 1px solid #7E8792; 
}
.main-container {
    width: 90%;
    margin: auto;
    padding: 64px 0; 
}
.main-container > * {
    padding-top: 50px;
}
.profile {
    margin: auto; 
    display: grid;
    grid-template-columns: 55% 35%;
    grid-gap: 7.5%;
    justify-items: center;
    align-items: center;
    margin-top: 50px; 
}
.information span p {
    margin: 35px 0;
}
.picture {
    text-align: center;
}
.picture img {
    width: 330px;
    object-fit: contain;
}
.buttons button {
    padding: 10px 20px;
    margin-right: 10px; 
    margin-bottom: 10px;
    border: none; 
}
.buttons button:first-child {
    color: white; 
    background-color: #9D00FF; 
}
.buttons button:last-child {
    color: #7E8792;
    background-color: #1D2430;
}
.picture .buttons {
    display: none;
}
.header {
    margin: auto;
    text-align: center;
    width: 75%;
}
.header img {
    width: 40px;
    margin-bottom: 20px;
}
.project-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}
.project-container img {
    width: 100%;
    object-fit: contain;
}
.project-container .buttons button {
    color: white; 
    background-color: #9D00FF; 
    margin-bottom: 40px; 
}
.explanation {
    line-height: 30px; 
    margin: 20px 0;
    color: #7E8792;
    background-color: #1D2430;
    padding: 20px 40px 120px 40px; 
    position: relative;
}
.explanation h6 {
    border-bottom: 0.5px solid white; 
    padding-bottom: 15px; 
    color: white;
    margin-top: 20px; 
}
.explanation p {
    margin-top: 25px; 
}
.explanation .buttons {
    margin-top: 40px; 
    position: absolute;
    bottom: 0; 
}
.skill-container {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%; 
}
.skill-container p {
    color: white;
    background-color: #1D2430;
    padding: 15px 25px; 
}
.skill-container p img {
    height: 25px; 
    margin-right: 15px; 
}
.skill-container p span {
    vertical-align: bottom;
}
footer {
    background-color: #1D2430;
    border-top: 1px solid #131723;
}
.thank-you {
    margin: 0 auto; 
    text-align: right;
    width: 90%;
    padding: 15px 0;
}
.thank-you img {
    height: 40px; 
    cursor: pointer;
}
@media only screen and (max-width: 740px) {
    nav a:not(:first-child) {
        display: none;
    }
    nav a:first-child {
        border-right: none;
    }
    .main-container {
        width: 75%;
    }
    .profile {
        grid-template-columns: 100%;
        grid-gap: 0; 
    }
    .picture img {
        width: 220px; 
    }
    .information .buttons {
        display: none;
    }
    .picture .buttons {
        display: block;
    }
    .project-container {
        grid-template-columns: 100%;
        grid-gap: 2%;
        grid-template-areas: 
        "project1"
        "project1-explanation"
        "project2"
        "project2-explanation";
    }
    .project-1 {
        grid-area: project1;
    }
    .project-1.explanation {
        grid-area: project1-explanation;
    }
    .project-2 {
        grid-area: project2; 
    }
    .project-2.explanation {
        grid-area: project2-explanation; 
    }
    .skill-container {
        grid-template-columns: 100%;
        grid-gap: 0; 
    }
}